header{
    position:-ms-page;
    top: 0;
}

.postblock {
    display: flex;
    flex-direction: column;
    flex:3;
    justify-content: space-between;
}

.sidebar {
    flex:1;
    margin-left: 3em;
    margin: 1em;
}

.posthistory{
    border-radius: 15px;
    border: 2px solid rgb(134, 134, 134);
    padding: 1em;
}

.categorybar{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.categories{
    border-radius: 15px;
    border: 2px solid rgb(134, 134, 134);
    padding: 1em;
}

.layout {
    display: flex;
    flex-direction: row; 
}

.post {
    border-radius: 15px;
    border: 2px solid rgb(134, 134, 134);
    padding: 1em;
    margin: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(111, 211, 173);
    /* background-color: rgb(56, 56, 56); */
    text-decoration: none;
}

.usericon{
    height: 3em;
    width: 3em;
    float: right;
    position: relative;
    top: -2.5em
}

#searchcontainer{
    height: 0em;
}
.fa-pencil {
    position: relative;
    top: -0.3em;
    left: -1.2em;
    background-color: rgb(111, 211, 173);
}

form.example input[type=text] {
    font-size: 17px;
    float: left;
    width: 80%;
    position: relative;
    font-size: 1em;
    top: -1.5em;
    height: 3em;
    border: none;
    border-radius: 0;
  }
  
  form.example button {
    float: left;
    width: 20%;
    background: #3f3f3f;
    color: white;
    border-left: none;
    cursor: pointer;
    position: relative;
    font-size: 1em;
    top: -1.5em;
    height: 3em;
    border-radius: 0;
  }
  
  form.example button:hover {
    background: #a0a0a0;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
