 /* Full-width input fields */
 .regentry {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  .registerbtn:hover {
    opacity: 1;
  }

  /* The popup form - hidden by default */
.popup {
  display: none;
  position: fixed;
  margin: 0 auto;
  top: 50%;
  text-align: center;
  width: 50%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: black;
}

input{
  color: black;
}


.usericon{
  height: 3em;
  width: 3em;
  float: right;
  position: relative;
  top: -2.5em
}

#searchcontainer{
  height: 0em;
}

form.example input[type=text] {
  font-size: 17px;
  float: left;
  width: 80%;
  position: relative;
  font-size: 1em;
  top: -1.5em;
  height: 3em;
  border: none;
  border-radius: 0;
}

form.example button {
  float: left;
  width: 20%;
  background: #3f3f3f;
  color: white;
  border-left: none;
  cursor: pointer;
  position: relative;
  font-size: 1em;
  top: -1.5em;
  height: 3em;
  border-radius: 0;
}

form.example button:hover {
  background: #a0a0a0;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}