.postblock {
    display: flex;
    flex-direction: column;
    flex:3;
    justify-content: space-between;
}

.sidebar {
    flex:1;
    margin-left: 3em;
    margin: 1em;
}

.posthistory{
    border-radius: 0.5em;
    border: 2px solid rgb(134, 134, 134);
    padding: 1em;
}

.categorybar{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.categories{
    border-radius: 0.5em;
    border: 0.15em solid rgb(134, 134, 134);
    padding: 1em;
    margin-top: 0.3em;
    text-align: center;
    font-weight:700;
    color: white;
}

.layout {
    display: flex;
    flex-direction: row; 
}

.post {
    border-radius: 0.5em;
    border: 0.15em solid rgb(134, 134, 134);
    padding: 0.7em;
    margin: 0.9em;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(111, 211, 173);
    text-decoration: none;
}

.usericon{
    border-radius: 0.5em;
    height: 3.5em;
    width: 3.5em;
    float: right;
    position: relative;
    top: 1em
}

.usericon:hover {
    transition: .2s ease;
    height: 3.7em;
    width: 3.7em;
    top: 0.9em
}

#searchcontainer{
    height: 0em;
}

form.example input[type=text] {
    font-size: 17px;
    float: left;
    width: 80%;
    position: relative;
    font-size: 1em;
    top: -1.5em;
    height: 3em;
    border: none;
    border-radius: 0;
  }
  
  form.example button {
    float: left;
    width: 20%;
    background: #3f3f3f;
    color: white;
    border-left: none;
    cursor: pointer;
    position: relative;
    font-size: 1em;
    top: -1.5em;
    height: 3em;
    border-radius: 0;
  }
  
  form.example button:hover {
    background: #a0a0a0;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }


  #sports{
    background-image: url(../images/ball.jpg);
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: 0em; 
  }

  #news{
    background-image: url(../images/city.jpg);
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: 0em;
  }

  #art{
    background-image: url(../images/paint.jpg);
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: 0em;
  }

  #nature{
    background-image: url(../images/nature.jpg);
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: 0em;
  }