.postblock {
    display: flex;
    flex-direction: column;
    flex:3;
    justify-content: space-between;
}
.sidebar {
    flex:1;
    margin-left: 3em;
    margin: 1em;
}
.posthistory{
    border-radius: 15px;
    border: 2px solid white;
    padding: 1em;
}

.categorybar{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    

}

.categories{
    border-radius: 15px;
    border: 2px solid white;
    padding: 1em;
   
}

.layout {
    display: flex;
    flex-direction: row;
    
}

.post {
    border-radius: 15px;
    border: 2px solid white;
    padding: 1em;
    margin: 1em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    display: inline;
    float: left;
}

.search-container {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
}

.search-container button:hover {
    background: rgb(37, 59, 121);
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: rgb(121, 121, 121);
    font-size: 17px;
    border: none;
    cursor: pointer;
}
a {
 
    text-decoration: none;
}
a:hover {
    color: rgb(111, 211, 173);
    /* background-color: rgb(56, 56, 56); */
    text-decoration: none;
}

.user-icon {
    display: inline;
    margin: 0 auto;
    height: 100%;
    position: right;
}
.fa-pencil {
    position: relative;
    top: -0.3em;
    left: -1.2em;
    background-color: rgb(111, 211, 173);
}
