header{
    position:-ms-page;
    top: 0;
}
.search-container {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
}

.search-container button:hover {
    background: rgb(37, 59, 121);
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: rgb(121, 121, 121);
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.usericon{
    height: 3em;
    width: 3em;
    float: right;
    position: relative;
    top: -2.5em
}

#searchcontainer{
    height: 0em;
}

form.example input[type=text] {
    font-size: 17px;
    float: left;
    width: 80%;
    position: relative;
    font-size: 1em;
    top: -1.5em;
    height: 3em;
    border: none;
    border-radius: 0;
  }
  
  form.example button {
    float: left;
    width: 20%;
    background: #3f3f3f;
    color: white;
    border-left: none;
    cursor: pointer;
    position: relative;
    font-size: 1em;
    top: -1.5em;
    height: 3em;
    border-radius: 0;
  }
  
  form.example button:hover {
    background: #a0a0a0;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

